/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* size */
/* color */
.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 750;
  display: flex;
  align-items: center;
}
.header__inner {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 98px;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 810px) {
  .header__menu {
    display: none;
  }
}
.header__menu * > * {
  margin-left: 40px;
}
.header__menu__item {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.header__menu--sp {
  display: none;
  position: relative;
  width: 46px;
  height: 36px;
}
@media screen and (max-width: 810px) {
  .header__menu--sp {
    display: block;
  }
}
.header__menu--sp__bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}
.header__menu--sp__bar:nth-of-type(1) {
  top: 0;
}
.header__menu--sp__bar:nth-of-type(2) {
  top: 17px;
}
.header__menu--sp__bar:nth-of-type(3) {
  top: 34px;
}

.main {
  width: 100%;
  background-color: black;
}
.main__inner {
  position: relative;
  overflow: visible;
  margin: 0 auto;
  padding-top: 80px;
}

.main-visual {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url("../image/dummy/background-lg.jpg");
}
.main-visual__mask {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

.concept {
  position: relative;
  width: 100%;
}
.concept__inner {
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 1000px;
}
@media screen and (max-width: 810px) {
  .concept__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.concept__heading {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.concept__text {
  width: 100%;
  max-width: 590px;
  margin-top: 40px;
  color: white;
  font-size: 16px;
  line-height: 1.6;
}
.concept__space {
  width: 60vw;
  min-width: 600px;
  position: relative;
}
.concept__space:before {
  content: "";
  display: block;
  padding-top: 70%;
}
@media screen and (max-width: 810px) {
  .concept__space {
    display: none;
  }
}
.concept__image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60vw;
  min-width: 600px;
}
@media screen and (max-width: 810px) {
  .concept__image {
    position: static;
    margin-top: 30px;
    width: 100%;
    min-width: auto;
  }
}

.drink {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 40px;
}
.drink__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 520px) {
  .drink__inner {
    position: relative;
  }
}
.drink__image {
  position: relative;
  width: 100%;
  height: 330px;
  background-image: url("../image/dummy/background-alcohol.png");
}
.drink__image__mask {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}
.drink__image__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.drink__text {
  width: calc(100% - 40px);
  margin-top: 50px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 520px) {
  .drink__text {
    display: none;
  }
}
.drink__view-more {
  margin-top: 40px;
  position: relative;
  font-size: 20px;
  color: white;
  width: 200px;
}
.drink__view-more__link {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.drink__view-more__arrow {
  position: absolute;
  left: 0;
  bottom: -10px;
}
@media screen and (max-width: 520px) {
  .drink__view-more__arrow {
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .drink__view-more {
    position: absolute;
    bottom: 20px;
    right: 16px;
  }
}

.game {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 240px;
}
@media screen and (max-width: 520px) {
  .game {
    padding-top: 160px;
  }
}
.game__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 520px) {
  .game__inner {
    position: relative;
  }
}
.game__image {
  position: relative;
  width: 100%;
  height: 330px;
  background-image: url("../image/dummy/game-bg.png");
}
.game__image__mask {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}
.game__image__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.game__text {
  width: calc(100% - 40px);
  margin-top: 50px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 520px) {
  .game__text {
    display: none;
  }
}
.game__view-more {
  margin-top: 40px;
  position: relative;
  font-size: 20px;
  color: white;
  width: 200px;
}
.game__view-more__link {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.game__view-more__arrow {
  position: absolute;
  left: 0;
  bottom: -10px;
}
@media screen and (max-width: 520px) {
  .game__view-more__arrow {
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .game__view-more {
    position: absolute;
    bottom: 20px;
    right: 16px;
  }
}

.access {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
}
.access__inner {
  width: calc(100% - 40px);
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.access__image {
  position: absolute;
  top: 0;
  left: 40px;
  width: 36vw;
}
@media screen and (max-width: 810px) {
  .access__image {
    display: none;
  }
}
.access__image--tablet {
  position: relative;
  margin-top: 30px;
  display: none;
}
@media screen and (max-width: 810px) {
  .access__image--tablet {
    display: block;
  }
}
.access__image--tablet__image {
  width: 100%;
}
.access__image--tablet__mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.access__image--tablet__text {
  position: absolute;
  bottom: 8px;
  right: 24px;
  color: white;
  z-index: 1;
}
.access__image--tablet__icon {
  width: 12px;
  height: 12px;
}
.access__space {
  position: relative;
  width: 36vw;
}
.access__space:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 60vw;
}
@media screen and (max-width: 810px) {
  .access__space {
    display: none;
  }
}
.access__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 430px;
  width: 430px;
}
@media screen and (max-width: 810px) {
  .access__content {
    width: 100%;
  }
}
.access__heading {
  color: white;
  font-size: 24px;
}
.access__address {
  margin-top: 45px;
  color: white;
  font-size: 16px;
  line-height: 3;
  text-align: center;
}
@media screen and (max-width: 810px) {
  .access__address {
    line-height: 2;
  }
}
.access__map {
  margin-top: 45px;
  width: 100%;
}
@media screen and (max-width: 810px) {
  .access__map {
    display: none;
  }
}

.footer {
  width: 100%;
  background-color: black;
  border-top: 2px solid white;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer__inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__logo {
  width: 20%;
}
.footer__logo__image {
  width: 98px;
}
.footer__address {
  width: 30%;
  color: white;
  font-size: 16px;
}
.footer__schedule {
  width: 30%;
  color: white;
  font-size: 16px;
}

.border-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  border-left: 3px solid white;
}

.menu {
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: black;
  padding-bottom: 60px;
}
.menu__inner {
  position: relative;
  top: 60px;
  width: calc(100% - 40px);
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 60px;
}
.menu__heading {
  color: white;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 520px) {
  .menu__heading {
    font-size: 20px;
  }
}
.menu__tab {
  margin-top: 40px;
  display: flex;
  overflow-x: scroll;
}
.menu__tab::-webkit-scrollbar {
  display: none;
}
.menu__tab > * + * {
  margin-left: 16px;
}
.menu__tab__item {
  background-color: black;
  padding: 6px 10px;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 520px) {
  .menu__tab__item {
    font-size: 16px;
  }
}
.menu__tab__item.js-selected {
  background-color: rgb(40, 40, 40);
}
.menu__content {
  width: 100%;
  display: none;
  flex-wrap: wrap;
}
.menu__content.show {
  display: flex;
}
.menu__item {
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-left: 24px;
}
@media screen and (min-width: 521px) {
  .menu__item:nth-of-type(3n+1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 520px) {
  .menu__item {
    width: calc((100% - 24px) / 2);
  }
  .menu__item:nth-of-type(2n-1) {
    margin-left: 0;
  }
}
.menu__item__image {
  width: 100%;
}
.menu__item__name {
  margin-top: 8px;
  font-size: 14px;
  color: white;
}
.menu__item__price {
  margin-top: 8px;
  font-size: 14px;
  color: white;
}