@font-face {
  font-family: "Qonquer";
  src: url(../font/Qonquer.ttf);
}
.section {
  width: 100%;
  background-color: rgb(240, 240, 240);
}
.section__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 40px;
  background-color: white;
}
.section__inner--large {
  max-width: 100%;
}

.text {
  font-family: "Sawarabi Gothic", sans-serif;
  color: black;
}

.heading {
  font-family: "Qonquer", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 6px;
}
.heading--red {
  color: red;
}

.button {
  display: block;
  padding: 10px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  margin: 0 auto;
  border: 1px solid black;
  color: black;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 999;
  background-color: white;
}
.header__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.header__nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.header__title {
  font-size: 30px;
  font-weight: bold;
}
.header__title--red {
  color: red;
}
.header__list {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.main-image__image {
  width: 100%;
  height: 100vh;
  background-image: url("../image/dummy/gambling-g20231e66d_1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.concept__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.concept__heading {
  margin-bottom: 24px;
}
.concept__content {
  width: 100%;
}
.concept__text {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 32px;
  word-break: break-word;
}

.game__inner {
  display: flex;
  justify-content: space-between;
}
.game__image {
  display: block;
  width: 45%;
  height: 300px;
  background-color: lightgray;
}
.game__content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game__text {
  width: 100%;
  word-break: break-word;
}

.drink__inner {
  display: flex;
  justify-content: space-between;
}
.drink__image {
  display: block;
  width: 45%;
  height: 300px;
  background-color: lightgray;
}
.drink__content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.drink__text {
  width: 100%;
  word-break: break-word;
}

.access__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.access__image {
  display: block;
  width: 40%;
  height: 400px;
  background-color: lightgray;
}
.access__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.access__heading {
  margin-bottom: 24px;
}
.access__text {
  width: 100%;
  margin-bottom: 24px;
}
.access__map {
  width: 90%;
  height: 200px;
}
.access__map__map {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  background-color: white;
}
.footer__inner {
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footer__title {
  margin-right: 24px;
  font-size: 30px;
  font-weight: bold;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__address {
  width: 49%;
}
.footer__schedule {
  width: 49%;
}/*# sourceMappingURL=style.css.map */