.full-swiper {
  width: 100%;
  height: calc(100vh - 60px);

  &__swiper {
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;

    &:nth-of-type(2n) {
      background-color: lightgray;
    }
  }
}