.horizontal-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &--reverse {
    flex-direction: row-reverse;
  }

  @include isTablet {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    display: block;
    width: 48%;
    background-color: lightgray;

    @include isTablet {
      width: 90%;
      margin-bottom: 16px;
    }
  }

  &__content {
    width: 48%;
    display: flex;
    flex-direction: column;

    @include isTablet {
      width: 90%;
    }

    &__heading {
      margin-bottom: 24px;
      @include heading;

      &--red {
        color: red;
      }
    }

    &__text {
      width: 100%;
      flex-grow: 1;
      word-break: break-word;
      @include text;
    }

    &__button {
      align-self: flex-end;
      @include button;

      @include isTablet {
        margin-top: 24px;
      }
    }
  }
}

.horizontal-card--access {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @include isTablet {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    display: block;
    width: 30%;
    background-color: lightgray;

    @include isTablet {
      display: none;
    }

    &--sp {
      display: none;

      @include isTablet {
        display: block;
        width: 90%;
        margin-bottom: 16px;
      }
    }
  }

  &__content {
    width: 65%;
    display: flex;
    flex-direction: column;
    
    @include isTablet {
      width: 90%;
    }    

    &__heading {
      margin-bottom: 24px;
      @include heading;

      &--red {
        color: red;
      }
    }

    &__text {
      width: 100%;
      flex-grow: 1;
      word-break: break-word;
      @include text;
    }

    &__map {
      display: block;
      width: 80%;
      align-self: center;

      @include isTablet {
        width: 80%;
      }
    }
  }
}
