.horizontal-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &--reverse {
    flex-direction: row-reverse;
  }

  @include isTablet {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    position: relative;
    display: block;
    width: 48%;
    background-color: lightgray;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      padding-top: 60%;
    }

    @include isTablet {
      width: 90%;
      margin-bottom: 16px;
    }
  }

  &__content {
    width: 48%;
    display: flex;
    flex-direction: column;

    @include isTablet {
      width: 90%;
    }

    &__heading {
      margin-bottom: 24px;
      @include heading;

      &--red {
        color: red;
      }
    }

    &__text {
      width: 100%;
      flex-grow: 1;
      word-break: break-word;
      @include text;
    }

    &__button {
      align-self: flex-end;
      @include button;

      @include isTablet {
        margin-top: 24px;
      }
    }
  }
}

.horizontal-card--access {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &__image {
    display: block;
    width: 35%;
    background-color: lightgray;
  }

  &__content {
    width: 60%;
    display: flex;
    flex-direction: column;

    &__heading {
      margin-bottom: 24px;
      @include heading;

      &--red {
        color: red;
      }
    }

    &__text {
      width: 100%;
      flex-grow: 1;
      word-break: break-word;
      @include text;
    }

    &__map {
      display: block;
      width: 80%;
      align-self: center;
    }
  }
}
