.access {
  position: relative;
  width: 100%;
  padding-bottom: 100px;

  &__inner {
    width: $sectionWidth;
    max-width: $sectionMaxWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 40px;
    width: 36vw;

    @include isTablet {
      display: none;
    }

    &--tablet {
      position: relative;
      margin-top: 30px;
      display: none;

      @include isTablet {
        display: block;
      }

      &__image {
        width: 100%;
      }

      &__mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
      }

      &__text {
        position: absolute;
        bottom: 8px;
        right: 24px;
        color: white;
        z-index: 1;
      }

      &__icon {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__space {
    position: relative;
    width: 36vw;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 60vw;
    }

    @include isTablet {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 430px;
    width: 430px;

    @include isTablet {
      width: 100%;
      min-width: auto;
    }
  }

  &__heading {
    color: white;
    font-size: 24px;
  }

  &__address {
    margin-top: 45px;
    color: white;
    font-size: 16px;
    line-height: 3;
    text-align: center;

    @include isTablet {
      line-height: 2;
    }
  }

  &__map {
    margin-top: 45px;
    width: 100%;

    @include isTablet {
      display: none;
    }
  }

  &__tablet-map {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 1000;

    &.show {
      display: block;
    }

    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.8;
    }

    &__map {
      width: 90%;
      position: relative;

    }
  }
}
