.concept {
  position: relative;
  width: 100%;

  &__inner {
    width: 100%;
    margin: 0 auto;
    max-width: $sectionMaxWidth;
  }

  &__heading {
    margin-left: 40px;
    color: white;
    font-size: 28px;
    font-weight: bold;
  }

  &__text {
    width: 100%;
    max-width: 590px;
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  &__space {
    width: 60vw;
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: 70%;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60vw;
  }
}
