.drink {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 40px;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include isSp {
      position: relative;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 330px;
    background-image: url("../image/dummy/background-alcohol.png");

    &__mask {
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.4;
    }

    &__heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      color: white;
      font-size: 30px;
      font-weight: bold;
    }
  }

  &__text {
    width: $sectionWidth;
    margin-top: 50px;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 2;
    font-weight: 300;

    @include isSp {
      display: none;
    }
  }

  &__view-more {
    margin-top: 40px;
    @include view-more;

    @include isSp {
      position: absolute;
      bottom: 20px;
      right: 16px;
    }
  }
}
