html {
  &.fixed {
    position: fixed;
    height: 100%;
  }
}

@keyframes show {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes hide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.hamburger {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  top: 0;
  left: -100%;
  background-color: white;
  z-index: 50;

  &.hide {
    animation-name: hide;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }

  &.show {
    animation-name: show;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }

  &__inner {
    width: $sectionWidth;
    margin: 0 auto;
  }

  &__heading {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;

    &__close {
      width: 40px;
      height: 40px;
      padding: 5px;
      cursor: pointer;
    }
  }

  &__list {
    margin-top: 40px;

    & > * + * {
      margin-top: 30px;
    }

    &__item {
      position: relative;
      height: 40px;
      font-size: 24px;

      &__link {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        padding: 4px;
        border-bottom: 2px solid black;
      }
    }
  }
}
