@keyframes show-top-bar {
  0% {
    top: 0;
    transform: rotate(0deg);
    background-color: white;
  }
  70% {
    background-color: white;
  }
  100% {
    top: 17px;
    transform: rotate(-585deg);
    background-color: black;
  }
}

@keyframes hide-top-bar {
  0% {
    top: 17px;
    transform: rotate(-585deg);
    background-color: black;
  }
  30% {
    background-color: white;
  }
  100% {
    top: 0;
    transform: rotate(0deg);
    background-color: white;
  }
}

@keyframes show-middle-bar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide-middle-bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-bottom-bar {
  0% {
    top: 34px;
    transform: rotate(0deg);
    background-color: white;
  }
  30% {
    background-color: white;
  }
  100% {
    top: 17px;
    transform: rotate(585deg);
    background-color: black;
  }
}

@keyframes hide-bottom-bar {
  0% {
    top: 17px;
    transform: rotate(585deg);
    background-color: black;
  }
  70% {
    background-color: black;
  }
  100% {
    top: 34px;
    transform: rotate(0deg);
    background-color: white;
  }
}

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 750;
  display: flex;
  align-items: center;

  &__inner {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 98px;

    &__image {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;

    @include isTablet {
      display: none; 
    }

    & * > * {
      margin-left: 40px;
    }

    &__item {
      color: white;
      font-size: 16px;
      font-weight: bold;

      &__link {
        position: relative;

        &:hover {
          &:before {
            width: 100%;
          }
        }

        &:before {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          display: block;
          width: 0%;
          height: 2px;
          background-color: white;
          transition: all .4s;
        }
      }
    }
  }

  &__menu--sp {
    display: none;
    position: relative;
    width: 36px;
    height: 36px;
    z-index: 100;

    @include isTablet {
      display: block;
    }

    &__bar {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;

      &:nth-of-type(1) {
        top: 0;

        &.show {
          animation-name: show-top-bar;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }

        &.hide {
          animation-name: hide-top-bar;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }
      }

      &:nth-of-type(2) {
        top: 17px;

        &.show {
          animation-name: show-middle-bar;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }

        &.hide {
          animation-name: hide-middle-bar;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }
      }

      &:nth-of-type(3) {
        top: 34px;

        &.show {
          animation-name: show-bottom-bar;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }

        &.hide {
          animation-name: hide-bottom-bar;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }
      }            
    }
  }
}
