@font-face {
	font-family: 'Qonquer';
	src: url(../font/Qonquer.ttf);
}

/* color */
$main-color: rgba(240, 240, 240, 1);

/* font */
$qonquer: 'Qonquer', sans-serif;

/* index */
$zDefaultHigh: 1000;
$zDefaultLow: 500;
